body {
  padding: 50px;
  padding-top: 5rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-container {
  margin: 50px;
  padding: 3rem 1.5rem;
  text-align: center;
}

.table-hover {
  cursor: pointer;
}