body {
  padding-top: 5rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-container {
  text-align: center;
}

.table-hover {
  cursor: pointer;
}

#lib-selection-btns {
  margin-bottom: 2rem;
}